
<h3> Edit </h3>


<h4>Add phone number</h4>

<form action="/phone_number" method="post">
  <div class="form-group">
   

    <label for="phone_type">Phone Type:</label>
    <input type="text" name="phone_type" id="phone_type" class="form-control">
    <label for="number">Number:</label>
    <input type="text" name="number" id="number" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Save Phone Number</button>
  </div>
</form>

<h4>Add Email</h4>

<form action="/email" method="post">
  <div class="form-group">
    <label for="email_type">Email Type:</label>
    <input type="text" name="email_type" id="email_type" class="form-control">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Save Email</button>
  </div>
</form>

<h4>Add Mailing Address</h4>

<form action="/address" method="post">
  <div class="form-group">
    <label for="type">Address Type:</label>
    <input type="text" name="type" id="type" class="form-control">
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" class="form-control">
    <label for="city">City:</label>
    <input type="text" name="city" id="city" class="form-control">
    <label for="state">State:</label>
    <input type="text" name="state" id="state" class="form-control">
    <label for="zip">Zip:</label>
    <input type="text" name="zip" id="zip" class="form-control">
    <br>
    <button type="submit" class="btn btn-primary">Save Address</button>
  </div>
</form>
